#p1
{
    color: red;
}

#img1
{
    width: 200;
    height: 200;
} 
#img2
{
    width: 110;
    height: 110;
    text-align: left;
}
#img2
{
    text-align: left;
}
p
{
    color: white;
}